 

// ..............................................  
// .............................................. 
// .............................................. 
// ..............................................   
 
/*
	COR NORMAL FUNDO BTNS MAIN MENU  
	background-color: #c2c3c4;
	COR HOVER FUNDO BTNS MAIN MENU
	background-color: #9a9b9d;
*/ 

//..................  
$break_point: 768px; 
//.................. 
$altura_topo: 200px;
//.................. 
$largura_site:  1262px;
$altura_rodape: 110px; 
//.................. 
$altura_btns_submenu: 27px;
//.................. 
$altura_menu:  38px;
$largura_menu: 100%;
//.................. 
$cor_fundo_content: yellow;
$cor_main: 			blue; 			
$cor_destaque: 		orange;				
$cor_hover:			green; 
//.................. 
$cor_titulos: 		orange;
$cor_texto_content: #8c8c8c;
//.................. CORES BTNS
$cor_btn_init:  black;
$cor_btn_hover: $cor_hover;
//.................. FONTS - VER SETTINGS EM _fonts.scss
//.................. $font_site: $font_regular; //VER SETTINGS EM _fonts.scss
$font_cor_padrao: blue;
$font_size_padrao: 16px;		//BOOTSTRAP 3.0.2 »»» 14px;     FUTURE BOOTSTRAP 4 »»» 1rem
$font_weight_padrao: normal;

// .............................................. 
// .............................................. 
// .............................................. 
// .............................................. 

